@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Montserrat:wght@300;400&display=swap');

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;
$navbar-light-active-color: #bf2222;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$custom-colors: (
				"primary": #bf2222,
				"secondary": #4e0707,
				"farve3": #F9f9f9,
				"farve4": #121212,

);


$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

/*
font-family: 'Cinzel Decorative', cursive;
font-family: 'Montserrat', sans-serif;
 */

#logo{
	content: url("../images/vinbaren_vinoteque.svg");
	max-height: 80px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Cinzel Decorative", "Brush Script MT" ,cursive;
}

p{
	font-family: montserrat;

}

.nav-link, .dropdown-menu li a, .btn-link{
	font-family: "Cinzel Decorative", "Brush Script MT" ,cursive;
}

.navbar-nav .nav-link {
	color: #121212;
}

.navbar-nav .nav-link:hover {
	color: #4e0707;
}

.btn-link{
	background-color: #bf2222;
	color: white;
}

/* -- Vedr. knappen på forsiden - Den viser ikke den rigtige skrift -- */
.d div .btn-secondary{
	font-family: "Cinzel Decorative", "Brush Script MT" ,cursive;
}


.druetop{
	background-image: url("../images/drue_top.jpg");
	background-position: center;
	background-size: auto;
	background-color: rgba(255, 255, 255, 0.7);
	background-blend-mode: overlay;
}

/* Dette er træbaggrunden - bruges bl.a. ved kommende events på forsiden*/
.fullscreen-bg {
	background-image: url('../images/baggrund_vinbaren.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.fixedBaggrund{
	background-image: url("../images/baggrund_vinbaren.jpg");
	background-blend-mode: overlay;
	background-size: cover;
	background-attachment: fixed;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.8); /* Juster gennemsigtighed efter behov */
}

.text-center .googleMap img{
	max-width:100px;

}

/* -- START - Koden er kopieret fra codepen.io til event siden med tabs-- */
.tabset > input[type="radio"] {
	position: absolute;
	left: -200vw;
}

.tabset .tab-panel {
	display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab- panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6){
	display: block;
}

/*
 Styling
*/


.tabset > label {
	position: relative;
	display: inline-block;
	padding: 15px 15px 25px;
	border: 1px solid transparent;
	border-bottom: 0;
	cursor: pointer;
	font-weight: 600;
}

.tabset > label::after {
	content: "";
	position: absolute;
	left: 15px;
	bottom: 10px;
	width: 22px;
	height: 4px;
	background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
	color: #4e0707;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
	background: #bf2222;
}

.tabset > input:checked + label {
	border-color: #ccc;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
}

.tab-panel {
	padding: 30px 0;
	border-top: 1px solid #ccc;
}

/*


/* -- SLUT - Koden er kopieret fra codepen.io til event siden med tabs-- */